#colGrid1 {
    width: 20%;
    height: auto;
}
#colGrid1 img{
    margin: 5px;
    width: 100%;
    height: auto;
    transition: transform .2s;
}
#colGrid1 img:hover{
    transform: scale(1.5);
}

#colGrid2 {
    width: 20%;
    height: auto;
}
#colGrid2 img{
    margin: 5px;
    width: 100%;
    height: auto;
    transition: transform .2s;
}
#colGrid2 img:hover{
    transform: scale(1.5);
}

#colGrid3 {
    width: 20%;
    height: auto;
}
#colGrid3 img{
    margin: 5px;
    width: 100%;
    height: auto;
    transition: transform .2s;
}
#colGrid3 img:hover{
    transform: scale(1.5);
}

#colGrid4 {
    width: 20%;
    height: auto;
}
#colGrid4 img{
    margin: 5px;
    width: 100%;
    height: auto;
    transition: transform .2s;
}
#colGrid4 img:hover{
    transform: scale(1.5);
}

#colGrid5 {
    width: 20%;
    height: auto;
}
#colGrid5 img{
    margin: 5px;
    width: 100%;
    height: auto;
    transition: transform .2s;
}
#colGrid5 img:hover{
    transform: scale(1.5);
}
